@page
@model WebApp_KaffeMaskineSim_NoMVC.Pages.CoffeeExtraModel
@{
    ViewData["Title"] = "CoffeeExtra";
}

<div class="container">
    <h1>Du har valgt en</h1>
    <h3>
        @Model.Coffee.Temperature
        @Model.Coffee.CoffeeName
        @{
            if (!Model.Coffee.Alcoholic != true)
            {
                @:med alkohol,
            }
            else
            {
                @:uden alkohol,
            }
            @:den smager af @Model.Coffee.Season
        }
    </h3>

    <form asp-page-handler="Pay" method="post">
        <label><input class="mr-2" type="checkbox" asp-for="Coffee.Sugar" value="true" />Sugar</label>
        <br />
        <label><input class="mr-2" type="checkbox" asp-for="Coffee.Milk" value="true" />Milk</label>
        <br />
        <label><input class="mr-2" type="checkbox" asp-for="Coffee.Cream" value="true" />Creme</label>
        <br />
        <label><input class="mr-2" type="checkbox" asp-for="Coffee.Syrup" value="true" />Syrup</label>
        <br />
        <label><input class="mr-2" type="checkbox" asp-for="Coffee.ToGo" value="true" />To Go</label>
        <input type="hidden" asp-for="Coffee.CoffeeName" value="@Model.Coffee.CoffeeName" />
        <input type="hidden" asp-for="Coffee.Alcoholic" value="@Model.Coffee.Alcoholic" />
        <input type="hidden" asp-for="Coffee.Season" value="@Model.Coffee.Season" />
        <br />
        <Button class="btn btn-lg btn-block btn-success p-3">Pay Here</Button>
        <br />
    </form>
    <form asp-page-handler="Cancel" method="post">
        <Button class="btn btn-danger p-0">Fortryd Køb</Button>
    </form>
</div>